<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>About Pantry Alchemy</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to Pantry Alchemy!</h1>
                <p>Our passion lies in harnessing the potential of the ingredients nestled within your pantry and fridge, unlocking a world of culinary possibilities. At Pantry Alchemy, we're not just about cooking; we're about igniting your imagination and empowering you to craft sensational meals with what you already possess.</p>
                <p>Our mission is clear: to inspire creativity in the kitchen and combat food waste by showcasing inventive recipes and cooking techniques. Gone are the days of tossing out forgotten produce or letting ingredients languish on the shelves. With Pantry Alchemy as your guide, every ingredient becomes a catalyst for culinary brilliance.</p>
                <p>Whether you're a seasoned chef, a busy parent, or a novice cook taking your first steps into the kitchen, Pantry Alchemy welcomes you with open arms. Our platform is designed to cater to all skill levels, providing easy-to-follow recipes, helpful tips, and exciting culinary adventures.</p>
                <p>Join us on a journey where the magic of cooking is not just reserved for special occasions or gourmet ingredients. Together, let's explore the endless possibilities of creating mouthwatering dishes from the treasures hidden within your kitchen. With Pantry Alchemy, every meal is an opportunity for culinary magic!</p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
