<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <title>Recipe Finder</title>

</head>
<body>
    {% include 'navbar.html' %}

    <form action="/search" method="post">
        <input type="text" id="ingredients" name="ingredients" placeholder="Enter ingredients (comma separated)">
        <button id="findRecipesButton">Find Recipes</button>

        <div id="recipes">
            {% for recipe in recipes %}
                <div>
                    <h3><a href="/recipe/{{ recipe['id'] }}">{{ recipe['title'] }}</a></h3>
                    <img src="{{ recipe['image'] }}" style="width:100px;"></img>
                    <br>
                </div>
            {% endfor %}
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
