<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
    <title>Recipe Finder</title>
</head>
<body>
    <div id="page-container">
    <div id="content-wrap">
        {% include 'navbar.html' %}
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('https://img.freepik.com/free-photo/close-up-woman-hand-put-topping-homemade-pizza_1150-4699.jpg');
        background-size: cover; /* Ensure the background image covers the entire width without cropping */
        background-position: center; /* Center the background image */
        height: 600px;
    ">
            <div class="d-flex justify-content-center align-items-center h-100 nav_font">
                <form action="/search" method="post" class="brown-form">
                    <input type="text" id="ingredients" name="ingredients" placeholder="Enter ingredients (comma separated)">
                    <button id="findRecipesButton">Find Recipes</button>
                </form>
            </div>
        </div>

        <!-- Jumbotron -->


        <div id="recipes" class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-item">
                    <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}">
                    <h5><a href="/recipe/{{ recipe['id'] }}">{{ recipe['title'] }}</a></h5>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
