<nav class="taskbar">
    <ul>
        <li><a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Pantry Alchemy Logo"></a></li>
        <li class="right"><button id="changeMode" class="btn btn-secondary" onclick="darkMode()">Dark Mode</button></li>
        <li class="right"><a href="/account">Account</a></li>
        {% if 'user' in session %}
            <li class="right"><a href="/pantry">Pantry</a></li>
        {% endif %}
        <li class="right"><a href="/about">About</a></li>
    </ul>
</nav>

<script>
    function darkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
        
        var modeB = document.getElementById("changeMode");

        // Save the state to local storage
        if(document.body.classList.contains("dark-mode")) {
            localStorage.setItem("darkMode", "enabled");
            modeB.textContent = "Light Mode"; // Change the button text to Light Mode
        } else {
            localStorage.setItem("darkMode", null);
            modeB.textContent = "Dark Mode"; // Change the button text to Dark Mode
        }
    }
    
    function checkDarkMode() {
        if (localStorage.getItem("darkMode") === "enabled") {
            document.body.classList.add("dark-mode");
            document.getElementById("changeMode").textContent = "Light Mode";
        } else {
            document.getElementById("changeMode").textContent = "Dark Mode";
        }
    }
    
    // Call checkDarkMode() when the page loads
    document.addEventListener("DOMContentLoaded", checkDarkMode);
</script>

