<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Recipe Finder</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  {% include 'navbar.html' %}

      <h1>My Pantry</h1>
      <div id="add-grocery-form-container">
        <form id="add-grocery-form" method="POST" action="{{ url_for('add_to_pantry') }}">
            <div class="form-group">
                <label for="grocery-item">Grocery Item:</label>
                <input type="text" class="form-control" id="grocery-item" name="ingredient" placeholder="Enter grocery item" required>
            </div>
            <div class="form-group">
                <label for="expiration-date">Expiration Date:</label>
                <input type="date" class="form-control" id="expiration-date" name="expiration_date">
            </div>
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
      </div>

    <div id="grocery-list" class="mt-3">
        <form method="POST" action="/search">
            {% for item_id, item_data in pantry_items.items() %}
            <div class="grocery-item d-flex justify-content-between align-items-center mb-2">
                <label>
                    <input type="checkbox" name="ingredients" value="{{ item_data.ingredient }}"> {{ item_data.ingredient }} (Expires: {{ item_data.expiration_date }})
                </label>
                <!-- Someone add delete somewhere, can't nest forms in html -->
                <!-- <form method="POST" action="/delete_from_pantry" style="display:inline;">
                    <input type="hidden" name="ingredient_id" value="{{ item_id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form> -->
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-sm">Find Recipes</button>
        </form>
    </div>
    
    

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
