body {
   font-family: 'Arial', sans-serif;
   background-color: #f4e2d3 !important;
   margin: 0;
   padding: 20px;
   color: #333;
   /*#fffff6
#fffff5
#fffff7
#1e1e1e
#c9a083
#fffff4
#caa184
#fffff8
#bfbca4
#bebba3*/

}


h1 {
   color: #787C66 !important;
   text-align: center;
   margin-bottom: 50px;
   font-size: 3em;
}

form {
   /*background-color: #545C45; olive tone */
   background: linear-gradient(to right, #956a4e, #8b6248);
   padding: 20px;
   border-radius: 8px;
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
   max-width: 500px;
   margin: 20px auto;
}

.transparent-form {
   background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white background */
   padding: 20px; /* Adjust padding as needed */
   border-radius: 10px; /* Optional: adds rounded corners */
}

input[type="text"] {
   width: calc(100% - 22px);
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

button {
   background-color: #272b20;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #544e45;
}

#recipes {
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
   padding-top: 20px;
}

#recipes .recipe-card {
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
   transition: transform 0.3s, box-shadow 0.3s;
   display: flex; /* Add this line to make it a flex container */
}

#recipes .recipe-card .recipe-content {
   flex: 1; /* Take remaining space */
}

#recipes .recipe-card .recipe-image {
   margin-left: 20px; /* Add margin to separate image from content */
   max-width: 200px; /* Adjust max-width as needed */
}

#recipes .recipe-card h3 {
   margin-top: 0;
   color: #333;
   font-size: 1.5em;
   margin-bottom: 10px; /* Add margin bottom for spacing */
}

#recipes .recipe-card p {
   font-size: 1.1em;
   line-height: 1.6;
   margin-bottom: 10px; /* Add margin bottom for spacing */
}

#recipes .recipe-card b {
   color: #C78023;
}

#recipes .recipe-card a {
   color: #C78023;
   text-decoration: none;
}

#recipes .recipe-card a:hover {
   text-decoration: underline;
}


.recipe-summary a {
   color: black !important;
   text-decoration: none;
}

.recipe-instructions {
   color: black;
   text-decoration: none;
}

.recipe-instructions:hover {
   color: black;
   text-decoration: underline;
}

.recipe-image {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
}

#about {
   margin-top: 50px;
}

#about .container {
   max-width: 800px;
   margin: 0 auto;
}

#about h1 {
   color: #d59622;
   margin-bottom: 20px;
   text-align: center;
}

#about p {
   font-size: 18px;
   line-height: 1.6;
   text-align: justify;
}

.taskbar {
   background: linear-gradient(to right, #546832, #3a4920);
   overflow: hidden;
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
}

.taskbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.taskbar li {
   float: left;
}

.taskbar li a {
   display: block;
   color: #fefae0;
   text-align: center;
   padding: 15px 15px 15px 15px;
   text-decoration: none;
   font-size: 25px;
}

.taskbar li a:hover {
   background-color: #bc6c25;
}

.taskbar .right {
   float: right;
}

.taskbar li a img {
   max-width: 50px;
   border-radius: 4px;
}
a, a:hover, a:active, a:visited { color: rgb(0, 0, 0); }

nav{
   margin-bottom: 2%;
}
.center-button {
   text-align: center;
}
.dark-mode {
   background-color: #190f06 !important;
   color: rgb(229, 236, 227);
}

/* Style for links in dark mode */
.dark-mode a {
   color: rgb(202, 215, 197) !important;
   text-decoration: none;
}

.dark-mode .taskbar {
   /*background-color: #3c5123;*/
   background: linear-gradient(to right, #3d4c23, #19210e);
   overflow: hidden;
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
}

.dark-mode .taskbar li a:hover {
   background-color: #8e511c;
}

.dark-mode footer{
   background: linear-gradient(to right, #465728, #252f14) !important;
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
}

.dark-mode button {
   background-color: #546833;
   color: white;
}

.dark-mode button:hover {
   background-color: #3e311f;
}

.dark-mode form {
   background: linear-gradient(to right, #694b37, #4a3426);
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
}
.recipe-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
}

.recipe-item {
   border: 1px solid #ccc;
   padding: 10px;
}

.recipe-item img {
   max-width: 100%;
   height: auto;
}

.recipe-item h5 {
   margin-top: 10px;
   margin-bottom: 5px;
}

#footer{
   text-align: center; /* Center-align the content */
   position: absolute;
   bottom: 0;
   width: 100%; /* Full width */
   height: 3rem;
   font-family: 'Snell Roundhand', cursive;
   font-size: 1em;
   color: white;
   background: linear-gradient(to right, #718b43, #3a4920);
   box-shadow:
      0.3em 0.3em 1em rgba(4, 4, 4, 0.6);
}

#page-container {
   position: relative;
   min-height: 100vh;
}

#content-wrap {
   padding-bottom: 3rem;    /* Footer height */
}

